html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #2a333c;
    max-width: 1400px;
    padding: 0;
    margin: auto;
}

.container {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
}

.page-header {
    background-color: black;
    color: white;
    min-height: 550px;
    padding: 30px 20px;
    background-image: url("../images/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header__nav {
    margin-bottom: 90px;
}

.main-nav {
    max-width: 860px;
}

.main-nav__list {
    min-width: 400px;
    padding: 10px;
    display: flex;
    list-style: none;
    line-height: 1.3em;
    justify-content: space-between;
}

.main-nav__list--item {
    min-width: 80px;
}

.main-nav__list--item a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.page-header__title {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 72px;
    max-width: 620px;
    letter-spacing: 0.05em;
    text-shadow: 0 11px 5px rgba(0, 0, 0, 0.33);
}

.musical-player {
    background-color: #b50b1e;
    min-height: 80px;
}

.genres-stations__title {

}

.genres-stations-list {
    justify-content: center;
}

.genres-stations-list__item {
    max-width: 220px;
    height: 180px;
    border: 1px solid #e1e1e1;
    margin-left: 20px;
    margin-top: 25px;
}

.genres-stations__button--load-more {
    width: 300px;
    justify-content: center;
}