body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #2a333c;
}

/* HEADER */

.page-header {
    color: white;
    background-color: black;
    background-image: url("../images/bg-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar-toggler-icon {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/burgermenu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.05em;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
    color: #000000;
    background: white;
}

.page-header__title {
    display: flex;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 36px;
    padding: 20px;
    margin: 0;
    letter-spacing: 0.05em;
    text-shadow: 0 11px 5px rgba(0, 0, 0, 0.33);
}

/* MUSICAL PLAYER */

.musical-player {
    background-color: #b50b1e;
}

.musical-player__button-play,
.musical-player__button-pause {
    width: 60px;
    height: 60px;
    border: none;
}

.musical-player__control {
    width: 40px;
    height: 40px;
    margin: auto;
}

.musical-player__button-hidden {
    display: none;
}

/* GENRES STATIONS */

.genres-stations__title,
.upcoming-events__title,
.latest-news__title,
.contact-us__title {
    font-size: 36px;
    font-weight: bold;
    color: #2a333c;
    margin-bottom: 50px;
}

.genres-stations__list {
    margin-bottom: 10px;
}

.genres-stations-list__item {
    display: flex;
    height: 180px;
    border: 1px solid #e1e1e1;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.genres-stations-list__item:hover {
    text-decoration: none;
}

.genres-stations__button--load-more {
    width: 300px;
    height: 40px;
    justify-content: center;
    color: #c12127;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
    background: none;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    cursor: pointer;
}

.genres-stations__button--load-more:hover {
    background-color: #c12127;
    color: white;
}

/*UPCOMING EVENTS*/

.event-list {
    background-color: #b30b1e;
    color: #ffffff;
}

/* LATEST NEWS */

.latest-news__content {
    display: flex;
    flex-direction: column;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

/* CONTACT US */

.subscribe-block {
    background-color: #30333c;
    color: #ffffff;
}

/* FOOTER */

.page-footer {
    background-color: #ffffff;
}

.copyright {
    align-items: center;
}

.social_links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

    .nav-link {
        background-color: transparent;
    }

    .page-header__title {
        font-size: 72px;
    }
}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1200px) {

}